body{
    text-align: center;
}
div{
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.text{
    font-size: 50px; 
    display: flex;
    justify-content: center;
    margin-top:20px ;
    align-content: center;
   
}
#title{
    font-size:30px ;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gup{
    display: flex;
   justify-content: center;
   align-content: center;

}
input{
    height: 20px;
    width: 150px; ;
}
.text{
   font-size: 20px;
    
}